# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log

# Node
node_modules/
npm-debug.log


# Cypress artifacts
cypress/screenshots/
cypress/videos/
cypress/downloads/

# Python
__pycache__/
.pytest_cache/
*.pyc
.venv/
venv/

# macOS
.DS_Store

# VS Code
.vscode/