bucket_name                    = "my-cloud-resume-mg"
website_files_path             = "../Frontend"
aws_region                     = "us-east-1"
domain_name                    = "example.com"
alert_email                    = "alerts@example.com"
lambda_error_threshold         = 1
lambda_duration_threshold_ms   = 2000
lambda_invocation_threshold    = 100
enable_monitoring              = true
enable_pagerduty               = false
enable_dynamodb_pitr           = false
enable_xray_tracing            = false
prod_log_retention_days        = 30
nonprod_log_retention_days     = 7
chatbot_throttling_rate_limit  = 2
chatbot_throttling_burst_limit = 5
pagerduty_integration_key      = "replace-with-github-secret"
pagerduty_url                  = "https://events.pagerduty.com/v2/enqueue"
